* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 25px 0px;
    background-color: #26282f;
    min-height: 100vh;
    display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Nunito','Simplified Arabic Fixed','Segoe UI',Arial,sans-serif;
}
.column {
  float: left;
  padding: 10px 30px;
}
.column.middle {
  border-style: dashed;
  border-width: 1px;
  border-radius: 15px;
  border-color: #474755;
}
h2 {
  color: #fff;
}
.analog_pins {
    position: fixed;
    top: 61px;
    bottom: 0;
    right: 10px;
}
input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
input[type='checkbox']:focus {
  outline: 0;
}
.toggle {
  height: 22px;
  width: 42px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #474755;
  background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
  transition: all .2s ease;
}
.toggle:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px rgba(44,44,44,.2);
    transition: all .2s cubic-bezier(.5,.1,.75,1.35);
}
.toggle:checked {
    border-color: #43A047;
}
.toggle:checked:after {
    transform: translatex(20px);
}
.radio_form .debt_slider {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    position: relative;
    width: 200px;
    height: 22px;
    user-select: none;
}
.radio_form .debt_slider:before {
    content: ' ';
    position: absolute;
    height: 2px;
    width: 100%;
    width: calc(100% * (4 / 5));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
}
.radio_form .debt_slider input, .radio_form .debt_slider label {
    box-sizing: border-box;
    flex: 1;
    user-select: none;
    cursor: pointer;
}
.radio_form .debt_slider label {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 100%;
    user-select: none;
}
.radio_form .debt_slider label:before {
    position: absolute;
    left: 50%;
    padding-top: 10px;
    transform: translate(-50%, 45px);
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0.85;
    transition: all 0.15s ease-in-out;
}
.radio_form .debt_slider label:after {
    content: ' ';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    border: 2px solid #474755;
    background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
    z-index: 1;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.radio_form .debt_slider input {
    display: none;
}
.radio_form .debt_slider input:checked + label:before {
    font-weight: 800;
    opacity: 1;
}
.radio_form .debt_slider input:checked + label:after {
    transform: translate(-50%, -50%);
    border-color: #43A047;
}
.radio_form .debt_slider input:checked ~ .debt_pos {
    opacity: 1;
}
.radio_form .debt_slider input:checked:nth-child(1) ~ .debt_pos {
    left: 10%;
}
.radio_form .debt_slider input:checked:nth-child(3) ~ .debt_pos {
    left: 30%;
}
.radio_form .debt_slider input:checked:nth-child(5) ~ .debt_pos {
    left: 50%;
}
.radio_form .debt_slider input:checked:nth-child(7) ~ .debt_pos {
    left: 70%;
}
.radio_form .debt_slider input:checked:nth-child(9) ~ .debt_pos {
    left: 90%;
}
.radio_form .debt_slider .debt_pos {
    display: block;
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    opacity: 0;
    z-index: 2;
    box-shadow: 0 1px 2px rgb(44 44 44 / 20%);
}
.radio_form:valid .debt_slider input + label:before {
    transform: translate(-50%, 45px) scale(0.9);
    transition: all 0.15s linear;
}
.radio_form:valid .debt_slider input:checked + label:before {
    transform: translate(-50%, 45px) scale(1.1);
    transition: all 0.15s linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
    to {
         transform: rotate(360deg);
         width: 24px;
         opacity: 1;
         margin-right: 12px;
    }
}
table{
  width:650px;
  color: rgb(158, 164, 182);
  font: 12px/14px 'Simplified Arabic Fixed',serif;
}
.tbl-content{
  overflow-x:auto;
  margin-top: 0px;
}
.analog_pins table{
  width:122px;
  color: rgb(158, 164, 182);
  font: 12px/14px 'Simplified Arabic Fixed',serif;
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  text-align: -webkit-center;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px #474755;
  text-align: -webkit-center;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.c_1 span {
    wight: 71px;
    color: #2196f3;
}
th.c_1 span {
    color: #26282f;
}
.analog_pins .c_1 span {
    wight: 71px;
    color: #d94f5c;
}
.c_2 span {
    wight: 82px;
    color: #d94f5c;
}
th.c_2 span {
    color: #26282f;
}
.analog_pins .c_2 span {
    wight: 82px;
    color: #fff;
}
.c_3 {
    width: 80px;
}
.c_4 {
    width: 320px;
}
.c_5 span {
    float: right;
}
.pwm_row {
    padding-bottom: 6px;
    padding-top: 6px;
    color: rgb(158, 164, 182);
}
.pwm_head_row {
    padding-bottom: 9px;
}
.pwm_head_row div {
    font: 10px/12px 'Simplified Arabic Fixed',serif;
    text-transform: none;
    color: rgb(158, 164, 182);
}
table input[type='number'] {
    display: block;
    width: 50px;
    color: white;
    background: #26282f;
    border: 2px solid #474755;
    background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
    border-radius: 10%;
    padding: 0px 5px;
}
table input[type='number']:focus {
    outline: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.button {
    background-color: #26282f;
    border-radius: 10%;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 0em 0em 0em 0em;
    width: 42px;
    height: 22px;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    border: 2px solid #26282f;
    border-radius: 16px;
    font: 16px/18px 'Simplified Arabic Fixed',serif;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button:hover {
    color: #fff;
    border: 2px solid #474755;
}
.button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    border: 2px solid #43A047;
}
.freq_info {
    width: 200px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    font: 10px/12px 'Simplified Arabic Fixed',serif;
}
.freq_info div {
    width: 20%;
}